VITE_SUPABASE_URL=https://knzvfdksnhxvrucejdms.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtuenZmZGtzbmh4dnJ1Y2VqZG1zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2ODQ5OTEsImV4cCI6MjA5NDI2MDk5MX0.IHfwABz8nyd8UHhMq1aG6l1IlYeicJZnmn0h74JEvpI
